<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AuthReaderSoap" />
        <binding name="AuthReaderSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="AuthReaderSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="AuthReaderSoap2">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://organizationws.prod.int/AuthWS/AuthReader.asmx"
        binding="basicHttpBinding" bindingConfiguration="AuthReaderSoap"
        contract="AuthReader.AuthReaderSoap" name="AuthReaderSoap" />
      <endpoint address="http://organizationws.prod.int/AuthWS/AuthReader.asmx"
        binding="basicHttpBinding" bindingConfiguration="AuthReaderSoap1"
        contract="AuthReader.AuthReaderSoap1" name="AuthReaderSoap1" />
      <endpoint address="http://organizationws.prod.int/AuthWS/AuthReader.asmx"
        binding="customBinding" bindingConfiguration="AuthReaderSoap12"
        contract="AuthReader.AuthReaderSoap" name="AuthReaderSoap12" />
      <endpoint address="http://organizationws.prod.int/AuthWS/AuthReader.asmx"
        binding="customBinding" bindingConfiguration="AuthReaderSoap2"
        contract="AuthReader.AuthReaderSoap1" name="AuthReaderSoap2" />
    </client>
  </system.serviceModel>
</configuration>